:root {
--dark: #2E2F42;
--text: #434455;
--accent: #F4F4FD;
--light: #E7E9FC;
--primary-brand: #4D5AE5;
--pressed-state: #404BBF;
--white: #ffffff; 
}

.body{
  color: var(--text);
  font-family: "Roboto","Raleway", sans-serif;
}
.body a{
  text-decoration:none;
}


/* .header,
.main,
.main-2,
.footer {
  width: 1440px;
} */

.webstudio,
.webstudio-2 {
  /* margin: 24px 0 24px 156px; */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.header-navigation {
  display: flex;
  flex-direction: row;
}
.header-address {
  /* margin: 24px 0 24px 332px; */
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.studio {
  color: var(--dark);
}

.header {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--light);
}

.header-list {
  /* padding: 0; */
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* margin: 24px 0 24px 76px; */
  list-style: none;
}

.header-list a:hover,
.header-address a:hover{
  color: var(--pressed-state);
}

.header-list a:focus,
.header-address a:focus{
  color: var(--pressed-state);
}



/* navigation */
.header-list-item{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/* .list-item-2,
.list-item-3{
margin: 24px 0 24px 40px;
} */

.email-number{
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.button-background {
  /* margin: 0;
  padding: 188px 0 188px 0; */
  background-color: var(--dark);
  /* left: 0px; */
  /* top: 72px; */
}

.button-order {
  cursor:pointer;
  /* width: 168px;
  height: 56px;
  margin: 0 636px 0 636px; */
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* justify-content: center; */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.button-order:hover,
.button-order:focus{
  background-color: var(--pressed-state);

}

.main-banner {
  /* margin: 0 472px 0 472px;
  padding: 0 0 48px 0; */
  width: 496px;
  font-size: 56px;
  line-height: 1.071428571428571;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--white);
}

/* features */

.features-list,
.photos-list,
.team-list,
.footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.features-list {
  /* padding: 0;
  width: 1128px;
  margin: 120px 156px 120px 156px; */
  gap: 24px;
}
/* .features-list-item {
  width: 264px;
} */

.header-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  /* margin: 0; */
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin: 8px 0 0 0; */
}

/* What are we doing */
.our-functional {
  /* justify-content: center; */
  /* padding: 0;
  margin: 120px 156px 120px 156px; */
}

.header-our-tasks {
  font-size: 36px;
  line-height: 1.111111111111111;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.photos-list {
  gap: 40px;
  /* padding: 0; */
}
.list-item-photo {
  background: linear-gradient(
    0deg,
    rgba(77, 90, 229, 0.1),
    rgba(77, 90, 229, 0.1)
  );
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--light);
  box-sizing: border-box;
  /* width: 360px;
  height: 300px; */
}

/* Our team */

.our-team-header {
  /* text-align: center; */
  font-size: 36px;
  line-height: 1.111111111111111;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.team-background {
  /* padding: 120px 0 0 0; */
  background-color: var(--accent);
  height: 732px;
}

/* .team-list {
  padding: 0;
  margin: 72px 0 120px 156px;
} */

.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* justify-content: center; */
  letter-spacing: 0.02em;
  color: var(--dark);
  margin: 0;
  padding: 0;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin: 0;
  padding: 0; */
}

.team-list-item{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* .team-list-item-2,
.team-list-item-3,
.team-list-item-4 {
  margin: 0 0 0 24px;
} */

/* footer */

.footer {
  /* padding: 100px 0 100px 0; */
  background-color: var(--dark);
}

.studio-2 {
  color: var(--accent);
}

.footer-text {
  /* margin: 16px 0 0 156px; */
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}



/* Page 2 */
/* IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */

/* .projects-section{
  padding: 0;
  margin: 0;
} */

.buttons-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  /* padding: 96px 0 24px 0; */
  /* justify-content: center; */
}
.buttons-list button {
  cursor:pointer;
  font-family: inherit;
  background: var(--accent);
  border: 1px solid var(--light);
  border-radius: 4px;
  /* height: 48px; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* justify-content: center; */
  letter-spacing: 0.04em;
  color: var(--primary-brand);
}
.buttons-list button:hover,
.buttons-list button:focus{
  background: var(--pressed-state);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .button-1-page-2{
  width: 69px;
}
.button-2-page-2{
  width: 116px;
}
.button-3-page-2{
  width: 78px;
}
.button-4-page-2{
  width: 101px;
}
.button-5-page-2{
  width: 126px;
} */

.projects-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
  /* padding: 48px 156px 0 156px; */
}

.projects-list h3{
  /* margin: 0;
  padding: 32px 0 0 16px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.projects-list p{
  /* margin: 0;
  padding: 8px 0 0 16px; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* .main-2{
padding: 0 0 120px 0;
} */
/* .temp-test{
  flex-basis: 33.333333%;
  width: 360px;
  gap: 24px;
} */

/* .projects-list{
  display: flex;
  flex-direction: row;
} */